/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
    }


body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
.logo:hover{
    border: 3px #0065FC  solid ; 
    font-weight: 500; 
    width: 61px;
    height: 19px;
    top: 30px;
    
}  



.index{
    text-decoration: none;
    color: #000;
    text-align: center;
} 
.index i{
    color: #000;
}    
.index{
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;

    
} 
.marseille {
    text-align: center;
    height: 40px;
    width: 160px;
    border-color: #f2f2f2;
    background-color: #fff;
    color: #000;
    text-decoration: none;
}   
.button{

    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    width: 160px;
    height: 40px;
    background-color: #0065FC;
    border-color: #0065FC;
    color: #f2f2f2;
}   
.menu{
    display: flex;
    flex-direction: row;
}  
.filtre{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    }   
    .filtre_element{ 
        width: 160px;
        height: 40px; 
        border: 3px  solid #F2F2F2;
        border-radius:20%;
        text-decoration: none;
        justify-items: center; 
    }     
   .filtre_element a{
        text-decoration: none;
        display: wrap;
        flex-direction: wrap;
        justify-items: center;
    
    }  
    .info,
    .i{
    border-radius: 50% 3px #f2f2f2;
    height: 20px;
    width: 20px;
    }    
         
.hebergements-cards img {
    width: 146px;
    height: 80px;
    border-radius: 20%;
}  
.hebergements-cards .card-conItent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    }   
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);  
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    width: 65%;
}  

.hebergements-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    

}  
.afficherplus{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
}   
.conteneur1{
    display: flex;
    flex-direction: row;
}   

.voir-activites img{
    text-align: center ;
}  
nav{
    display: flex;
    width: 100%; 
    justify-content: space-around;
    align-items:center ;
   
}  
.conteneur2{
    display: block;
    flex-direction: row;
    align-content: center;
    
}  
 
.apropos,
.noshebergements,
.assistance{
    text-decoration: none;
    color: #000;
}    

/***
.apropos{       
width: 15%;
margin: 0px 20px;
display:column ;
flex-direction: inline; 
}   
.noshebergements{       
    width: 15%;
    margin: 0px 20px;
    display:column;
    flex-direction: inline; 
    
}        
.assistance{       
        width: 15%;
        margin: 0px 20px;
        display: column;
        flex-direction: inline; 
        
 }       ***/ 

.section-title {
    margin: 0;
    font-size: 22px;
}  

.
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);  
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
.


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}