/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
    }


body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
.logo:hover{
    font-weight: 500;
    color: #0065FC;
    border: #0065FC 3px solid;
    
}   
.index{
    
    color: #000;
    text-align: center;
} 
.trouvervotrehebergement{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}  

.fa-location-dot,
.i{

    color: #000;
    text-align: center;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    border: #f2f2f2; 
    background-color: #F2F2F2;
    width: 40px;
    height: 40px;
    border-color: #F2F2F2;

}   

.marseille{
    
    border-color: #DEEBFF;
    width: 160px;
    height: 40px;
    background-color: #ffFF;
    border-color: #DEEBFF;
}  

.button{

    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    width: 140px;
    height: 40px;
    background-color: #0065FC;
    border-color: #0065FC;
    
}  
.button{
    color: #F2F2F2;
}  

.filtre{
    display:inline;
    flex-direction: row;

    } 
    
    
    .economique{
        display: inline;
        flex-direction: row;
        width: 120px;
        height: 40px; 
        border:#DEEBFF  3px solid;
        border-radius: 20%;
        text-decoration: none;
    }    
    .familial{
        display: inline;
        flex-direction: row;
        height: 40px;
        width: 120px;
        border-radius: 20% ;
        text-decoration: none;
        border:#DEEBFF  3px solid;
        

    } 
    .romantique{
        display: inline;
         flex-direction: row;
        width: 120px;
        height: 40px; 
        border: 186, 184, 184;
        border-radius: 20%;
        text-decoration: none;
        border:#DEEBFF  3px solid;

    } 
    .nospetites{
        display: inline;
        flex-direction: row;
        width: 120px; 
        height: 40px; 
        border-radius: 20%;
        border:#DEEBFF  3px solid;
        text-decoration: none;

    } 
  /****Pour mettre le fond du i information en blanc et le i en bleu***/
    .fa-circle-exclamation{
        
        color: #ffff;
        border-color: #DEEBFF
        
    } 
    .fa-circle-exclamation,
    .i{
        color: #DEEBFF;
    }
    
    /***Pour mettre le i information et le paragraphe sur la même ligne***/
    .information{
        display:block ;
        flex-direction: row;
        
    }   



 .hebergements{
    width: 100%;
    
}    
.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-radius: 20%;  

}   
.hebergements-cards .card {
    width: 100%;
    display: flex;
    flex-direction: row;
}  
.conteneur{
    width: 100%;
    display: flex;
    flex-direction: row;
} 
.conteneur1{
    display: flex;
    flex-direction: row; 
}  
.card-activites {
    text-align: center ;
    padding: 5px;
}  

.conteneur2 {

    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #f2f2f2;
    
}  

article{
    width: 15%;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    
}   
.a,
.conteneur2{
    padding: 4px;
}  


/****** Populaires ***********/
.hebergements-and-populaires {
    width: 160%;
    height: 40%;
}  





.section-title {
    margin: 0;
    font-size: 22px;
}   

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);  
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}